<%= render 'shared/errors', obj: @article %>

<%= form_for(@article, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title of article' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Description of article' %>
  </p>
  <p>
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </p>
<% end %>
